<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<title>告警机制</title>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"></meta>
<link rel="stylesheet" href="/css/weui.css"/>
<link rel="stylesheet" href="/css/weuix.css"/>

<script src="/js/zepto.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/wxalarm.js"></script>

</head>


<body ontouchstart="">

<div class="page-hd">
  <h1 class="page-hd-title">
    告警机制
  </h1>
  <p class="page-hd-desc"></p>
</div>

<div class="page-bd">

  <div class="weui-cells__title">告警机制</div>
  <div class="weui-cells">
    <span class="alarm-list" />
  </div>
</div>

</body>
</html>
